.carousel-container-banner  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.slides-container-banner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-banner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button-left-carousel-banner {
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: none;
    cursor: pointer;
    color: rgb(5, 50, 47);

    font-size: 0.75vw;
    height: 1.75vw;
    width: 1.75vw;
    border-radius: 2vw;
    top: 40%;
    left: 8vw;
    z-index: 1;
    padding: 0;
}

.button-right-carousel-banner {
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    position: absolute;
    color: rgb(5, 50, 47);

    top: 40%;
    font-size: 0.75vw;
    height: 1.75vw;
    width: 1.75vw;
    border-radius: 2vw;
    right: 8vw;
    z-index: 1;
    padding: 0;
}

.button-left-carousel-banner:hover,
.button-right-carousel-banner:hover {
    background-color: rgb(73, 255, 222);
    color: rgb(0, 47, 61);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.button-carousel-banner:active {
    transform: scale(0.9);
    transition: all 0.1s ease;
}

.carousel-container-images {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.carousel-images{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    gap: 0.2vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-images-start {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.button-images-carouseles {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: .7vw;

    margin-top: 1vw;
    width: 76.25vw;
    object-fit: cover;
}

.button-image-carousel {
    border: none;
    cursor: pointer;
    
    padding: 0;
    margin: 0;
    border-radius: 0.725vw;
    height: 3.542vw;
    width: 7.24vw;
    object-fit: cover;
}

.button-image-banner {
    transform: scale(1.05);
    transition: all 0.3s ease;
    height: 3.542vw;
    width: 100%;
    border-radius: 0.325vw;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    object-fit: cover;
}


.title-category .bi-chevron-right,
.right {
    cursor: pointer;
    color: white;

    font-size: 0.8vw;
}

.title-category .bi-chevron-right:hover,
.right:hover {
    color: rgba(73, 255, 222, 1);
}
    /* .button-indicators-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2.5vw;
    }
    .button-indicator-banner {
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 1.5vw;
        width: 1.5vw;
        padding: 0;
        background-color: rgb(1, 34, 44);
    } */