.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}

.banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 100%;
    height: 27.688vw;
    margin-top: 4.688vw;
}

.image-in-main-banner {
    display: flex;
    position: relative;
    justify-content: center;

    z-index: 0;
    width: 100%;
    height: 130%;
}

.main-image {
    display: flex;
    position: relative;
    justify-content: center;

    width: 100%;
    height: 27.083vw;
}

/*Контент внутри изображения*/

.block-price-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    margin-top: 16%;
    width: 76.25vw;
}

/*Левая часть*/

.block-price {
    width: 12.5vw;
}

.block-discount-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount {
    width: max-content;
    background-color: rgba(255, 111, 149, 1);
    color: black;

    border-radius: 1.042vw;
    font-size: 0.833vw;
    font-weight: 700;
    padding: 0.15vw 0.8vw;
}

.price {
    color:white;
    font-family: "Manrope", sans-serif;

    font-size: 1.667vw;
    font-weight: 700;
}

.old-price {
    color:rgba(204, 248, 255, 0.65);
    text-decoration: line-through;

    font-size: 1.667vw;
    font-weight: 400;
}

.time-discount {
    color: rgba(204, 248, 255, 0.65);

    font-size: 0.833vw;
}

/*Правая часть*/

.block-name {
    text-align: right;
    width: 34.583vw;
}
.title-mobile {
   display: none;
}

.title {
    color: white;
    font-size: 1.25vw;
    font-weight: 700;
}

.description {
    color: rgba(255, 255, 255, 0.8);

    font-size: 0.833vw;
    font-weight: 400;
}


/*Витрина*/

.showcase-images {
    display: flex;
    position: relative;
    justify-content: space-between;

    margin-top: 1.2vw;
    width: 76.25vw;
    height: 3.542vw;
}

.image-in-showcase {
    background-color: black;

    border-radius: 0.625vw;
    width: 7.24vw;
    height: 100%;
}

.title-category-special-offers {
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;

    width: 76.25vw;
    margin-top: 9vw;
    font-weight: 700;
    font-size: 1.667vw;
    line-height: 125%;
    letter-spacing: 0%;
}
.title-category {
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;

    width: 76.25vw;
    margin-top: 3vw;
    font-weight: 700;
    font-size: 1.667vw;
    line-height: 125%;
    letter-spacing: 0%;
}


/*Специальные предложения*/

.special-offers {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 85.25vw;
    height: 17.5vw;
}


.block-in-special-offers {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    background-color: rgba(0, 47, 61, 1);


    border-radius: 0.833vw;
    height: 12.5vw;
    width: 32%;
    margin: 0 0.5vw;
}

.image-special-offers {
    background-color: black;
    border-radius: 0.833vw 0.833vw 0px 0px;
    width: 100%;
    height: 17.5vw;
}

.name-game {
    color: white;

    margin: 1vw 0.5vw 0.5vw 1vw;
    font-weight: 700;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.price-game {
    color: rgba(241, 253, 255, 0.8);

    margin: 0px 1vw;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

/* Рекомендованные */
.recommended {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 85.25vw;
    height: 32vw;
}

.block-in-recommended {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 47, 61, 1);

    flex-shrink: 0;
    overflow: hidden;
    border-radius: 0.833vw;
    height: 100%;
    width: 23.8%;
    box-sizing: border-box;
    margin: 0 0.5vw;
}

.image-recommended {
    background-color: black;

    border-radius: 0.833vw 0.833vw 0px 0px;
    width: 100%;
    height: 25.833vw;
}

/* Списки игр */
.lists-games {
    display: flex;
    position: relative;
    justify-content: space-between;
   flex-direction: column;

    margin-top: 3vw;
    width: 76.25vw;
}
.list-games-vertical {
    display: flex;
    position: relative;
    justify-content: center;
   flex-direction: column;
    gap: 3vw;

    width: 25.5vw;
    height: 56.771vw;
}

.title-list-game {
    color: white;
    display: flex;
    justify-content: space-between;

    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110%;
    letter-spacing: 0%;
    width: 24.3vw;

    margin-bottom: 2vw;
}

.list-game {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;

    width: 26.3vw;
    height: 56.771vw;
}

.block-list-game {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    background-color: rgba(0, 47, 61, 1);
   border-radius: 0.833vw;}

.image-list-game {
    background-color: black;
    border-radius: 0.833vw 0.833vw 0px 0px;
    width: 100%;
    height: 13vw;
}

/* Стрелка */

.title-category .bi-chevron-right,
.right {
    cursor: pointer;
    color: white;

    font-size: 0.8vw;
}

.title-category .bi-chevron-right:hover,
.right:hover {
    color: rgba(73, 255, 222, 1);
}

.chevron-left-block {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    left: 9%;
    height: 100%;
}

.chevron-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(241, 253, 255, 1);
    color: black;

    text-shadow: 0 0 1px currentColor;
    border-radius: 2.5vw;
    font-size: 0.8vw;
    left: 9%;
    width: 1.875vw;
    height: 1.875vw;
}

.chevron-left:hover,
.chevron-right:hover,
.chevron-left-special:hover,
.chevron-right-special:hover {
    background-color: rgba(73, 255, 222, 1);
}

.chevron-right-block {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    right: 9%;
    height: 100%;
}

.chevron-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(241, 253, 255, 1);
    color: black;

    text-shadow: 0 0 1px currentColor;
    border-radius: 2.5vw;
    font-size: 0.8vw;
    right: 9%;
    width: 1.875vw;
    height: 1.875vw;
}



