.head {
    display: flex;
    justify-content: center;
    position: fixed;
    background: rgba(0, 47, 61, 1);

    width: 100%;
    height: 4.688vw;
    z-index: 10;
}

.head-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 76.25vw;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;

    width: 5.25vw;
}
.logo-image {
    width: 100%;
    height: auto;
}

.head-top nav {
    display: flex;
    position: relative;

    height: 100%;
}
.burger-menu {
    display: none;
}

.nav {
    list-style-type: none;
    align-items: center;

    gap: 1.823vw;
}

.li {
    /* text */
    cursor: pointer;
    transition: filter 0.2s, color 0.2s;
    font-family: "Manrope", sans-serif;
    color: white;

    font-weight: 600;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}


.li:hover {
    filter: brightness(0.85);
}

.li.active {
    color: rgba(73, 255, 222, 1);
}

.button-sign-in {
    background-color: rgba(4, 96, 117, 1);
    color: white;
    border: none;
    outline: none;

    padding: 0.5vw 1vw;
    font-weight: 600;
    line-height: 125%;
    font-size: 0.833vw;
    border-radius: 1.042vw;
}

.button-sign-in:hover {
    filter: brightness(0.85);
}

/*Нижняя часть с поиском*/

.head-bottom {
    display: flex;
    position: absolute;
    justify-content: space-between;

    width: 76.25vw;
    top: 130%;
}

.input-category {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(4, 96, 117, 1);

    width: 91.803%;
    height: 2.708vw;
    border-radius: 1.042vw;
}

.input-header {
    background-color: rgba(0, 47, 61, 0.7);
    border: none;
    outline: none;

    font-size: 0.833vw;
    font-family: "Manrope", sans-serif;
    margin-left: 0.25vw;
    height: 2.292vw;
    width: 43.899%;
    border-radius: 0.8vw;
}

.head-bottom input {
    padding-left: 0.75vw;
    color: rgba(143, 178, 185, 1);
}

.head-bottom input::placeholder {
    color: rgba(143, 178, 185, 1);
}

.catalog-news {
    display: flex;
    color: white;

    gap: 1.3vw;
    margin-right: 1.3vw;
    font-size: 0.833vw;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    filter: brightness(0.85);
}

.pointer.active {
    color: rgba(73, 255, 222, 1);
}

.search {
    display: flex;
    position: absolute;
    right: 57%;
    height: 1.3vw;
}
.heart{
     height: 1.3vw;
}

.cart{
    height: 1.3vw;
}

.chevron{
    display: none;
}

.heart:hover, .cart:hover {
    filter: brightness(0.85);
}


/*Кнопочки*/

.head-bottom button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgba(4, 96, 117, 1);
    color: white;

    padding: 0;
    width: 2.708vw;
    border-radius: 1.042vw;
    font-size: 1.1vw;
    border-left: 1vw;
    
}

.head-bottom button:hover {
    filter: brightness(0.7);
}

.right-part-head {
    display: flex;
    position: relative;

    gap: 0.5vw;
}

.right-part-head button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: rgba(55, 195, 255, 0.12);
    color: white;

    padding: 0;
    height: 2.708vw;
    width: 2.708vw;
    border-radius: 1.042vw;
    font-size: 1.1vw;
}

.right-part-head button:hover {
    filter: brightness(1.25);
}

/* Менюшка под аватаркой */

.avatar-head {
    display: flex;
    position: relative;
    background-color: black;
    cursor: pointer;

    border-radius: 1.5vw;
    width: 2.708vw;
}

.profile-img-head {
    border-radius: 2vw;
    width: 2.708vw;
    height: 2.708vw;
}

.avatar-menu {
    position: absolute;
    background-color: rgba(0, 66, 82, 1);
    border: 1px solid rgba(4, 96, 117, 1);
    color: rgba(241, 253, 255, 0.8);
    width: max-content;

    font-size: 0.833vw;
    font-weight: 400;
    line-height: 125%;
    top: 135%;
    right: 2%;
    border-radius: 0.417vw;
    z-index: 1;
}

.avatar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.avatar-menu li {
    padding: 0.425vw 1.25vw;
}

.avatar-menu li:first-child {
    margin-top: 0.425vw;
}

.avatar-menu li:last-child {
    margin-bottom: 0.425vw;
}

.avatar-menu li span:hover {
    color: rgba(73, 255, 222, 1);
}

.avatar-menu li span {
    cursor: pointer;
}

.nickname {
    cursor: pointer;

    font-weight: 700;
    line-height: 125%;
}

.exit {
    color: rgba(255, 165, 153, 1);
    cursor: pointer;
}

.exit:hover,
.nickname:hover {
    filter: brightness(1.10);
}

.burger-menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
.burger-menu-open{
        display: none;
}    