.block-for-all-comments {
    display: flex;

    gap: 0.5vw;
    margin-top: 1vw;
}

.like-comment {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(204, 248, 255, 0.65);
    background-color: rgba(55, 195, 255, 0.12);

    font-weight: 600;
    font-size: 0.833vw;
    line-height: 125%;
    letter-spacing: 0%;
    border-radius: 0.417vw;
    padding: 0.25vw 0.5vw;
    gap: 0.5vw;
}

.like-comment:hover,
.like-comment-button:hover {
    filter: brightness(0.9);
}

.like-comment .bi-suit-heart {
    color: rgba(255, 111, 149, 1);

    font-size: 1.1vw;
}

.like-comment .bi-chat-left {
    color: white;

    font-size: 0.95vw;
}

.like-comment-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(55, 195, 255, 0.12);

    font-weight: 600;
    font-size: 0.833vw;
    line-height: 125%;
    letter-spacing: 0%;
    border-radius: 0.417vw;
    padding: 0.25vw 0.5vw;
    gap: 0.5vw;
}