.content-profile {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.head-image-profile {
    background-color: black;

    height: 12.5vw;
    width: 76.25vw;
    margin-top: 4.688vw;
    border-radius: 0 0 0.417vw 0.417vw;
}

.left-block-right-menu-profile {
    display: flex;
    position: relative;
    justify-content: space-between;

    width: 76.25vw;
}

.left-block-profile {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 56.875vw;
}

.block-info-profile {
    display: flex;
    justify-content: space-between;
}

.image-profile {
    position: absolute;
    left: 1%;
    top: -5vw;
    width: 10.417vw;
    height: 10.417vw;
    border-radius: 50%;
}

.block-username {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;

    gap: 0.75vw;
    margin-top: 1.5vw;
    margin-left: 14vw;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
}

.text-online {
    color: rgba(255, 111, 149, 1);

    font-weight: 400;
    font-size: 0.833vw;
    line-height: 100%;
    letter-spacing: 0%;
}

.description-profile {
    color: white;

    padding-top: 4vw;
    margin-bottom: 3vw;
    width: 31.042vw;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 150%;
    letter-spacing: -1%;
}

.button-edit-profile {
    display: flex;
    background-color: rgba(4, 96, 117, 1);
    color: white;
    border: none;
    outline: none;
    height: max-content;

    padding: 0.55vw 1.25vw;
    margin-top: 2vw;
    gap: 0.75vw;
    border-radius: 1.042vw;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.button-edit-profile:hover {
    filter: brightness(0.9);
}

/* Менюшка профиля */

.right-menu-block {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 66, 82, 1);

    margin-top: 2vw;
    padding: 1vw 1.25vw 1vw 1.25vw;
    border-radius: 1.042vw;
    width: 18.125vw;
}

.level-profile {
    display: flex;
    align-items: center;
    color: white;

    gap: 1vw;
    margin-bottom: 0.75vw;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
}

.hex {
    width: 2.5vw;
    height: 2.5vw;
}

.profile-menu {
    display: flex;
    position: relative;
    flex-direction: column;

    gap: 0.25vw
}

.menu-item {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    padding: 0.5vw 0vw;
}

.menu-item::before {
    content: "";
    position: absolute;
    left: -0.65vw;
    right: -0.65vw;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 8px;
    z-index: 0;
    transition: background-color 0.2s ease;
}

.menu-item.active::before {
    background-color: rgba(55, 195, 255, 0.25);
}

.menu-item:hover::before {
    background-color: rgba(55, 195, 255, 0.1);
}

.menu-title {
    color: white;

    z-index: 1;
    font-weight: 700;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.menu-badge {
    color: rgba(204, 248, 255, 0.65);
    background-color: rgba(55, 195, 255, 0.25);
    height: max-content;

    z-index: 1;
    padding: 0.15vw 0.75vw;
    border-radius: 1.042vw;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 125%;
    letter-spacing: -1%;
}

.menu-badge:hover {
    color: white;
}

.right-menu-block-friends {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 66, 82, 1);

    margin-top: 2vw;
    padding: 1vw 1.25vw 1vw 1.25vw;
    border-radius: 1.042vw;
    width: 18.125vw;
}

.block-profile-friend {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.avatar-nickname-friend {
    display: flex;
    align-items: center;
    color: white;

    gap: 1vw;
    margin-top: 0.75vw;
    font-weight: 700;
    font-size: 0.833vw;
    line-height: 125%;
    letter-spacing: -1%;
}

.hex-friend {
    margin-top: 0.75vw;
    width: 1.75vw;
    height: 1.75vw;
}

.image-profile-friend {
    background-color: black;

    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
}

/* Главный раздел */

.block-icons {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 66, 82, 1);

    width: 100%;
    margin-top: 1vw;
    border-radius: 1.042vw;
    padding: 1.25vw;
}

.title-block {
    color: white;

    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    margin-bottom: 1vw;
}

.block-for-icons-count {
    display: flex;
}

.block-count-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 47, 61, 1);
    color: rgba(204, 248, 255, 0.65);

    width: 10.417vw;
    height: 5.938vw;
    border-radius: 0.625vw;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: -1%;

}

.count-icons {
    color: white;

    font-weight: 700;
    font-size: 2.083vw;
    line-height: 125%;
    letter-spacing: 0%;
}

.block-for-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 44.375vw;
    padding: 0px 3.048vw 0px 3.048vw;
}

.image-icon {
    background-color: black;

    width: 5.729vw;
    height: 5.729vw;
}

.block-for-count-games {
    display: flex;
    justify-content: center;

    gap: 0.5vw;
    margin-bottom: 1vw;
}

.block-for-image-games {
    display: flex;
    justify-content: space-between;
}

.image-game {
    background-color: black;

    width: 13.385vw;
    height: 6.458vw;
    border-radius: 0.625vw;
}

.block-for-image-screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-screenshot {
    background-color: black;

    width: 17.969vw;
    height: 9.583vw;
    border-radius: 0.625vw;
}

.last-image-screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 20, 31, 0.7);
    color: rgba(204, 248, 255, 0.65);

    width: 17.969vw;
    height: 9.583vw;
    border-radius: 0.625vw;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: -1%;
    text-align: center;
}

.main-image-screenshot {
    background-color: black;

    width: 100%;
    height: 27.187vw;
    border-radius: 0.625vw;
    margin-bottom: 0.25vw;
}

.block-for-all-discussions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-main-discussions {
    background-color: rgba(0, 47, 61, 1);

    padding: 1.25vw;
    width: 100%;
    border-radius: 1.042vw;
    margin-bottom: 0.75vw;
}

.block-discussions {
    background-color: rgba(0, 47, 61, 1);

    padding: 1.25vw;
    width: 45.3vw;
    border-radius: 1.042vw;
}

.block-next-discussions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 195, 255, 0.25);
    color: rgba(204, 248, 255, 0.65);

    width: 8.333vw;
    border-radius: 0.625vw;
}

.title-discussions {
    color: white;

    font-weight: 700;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 0.75vw;
}

.text-discussions {
    color: rgba(241, 253, 255, 0.8);

    font-weight: 400;
    font-size: 0.833vw;
    line-height: 150%;
    letter-spacing: -1%;
}

.image-discussion {
    background-color: black;

    width: 100%;
    height: 25vw;
    border-radius: 0.833vw;
    margin: 0.75vw 0px 0px 0px;
}

.block-name-date-game {
    display: flex;
    position: relative;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 0.75vw;
}

.name-date-game {
    display: flex;
    align-items: center;

    gap: 0.75vw;
}

.name-avatar-game {
    display: flex;
    align-items: center;
    background-color: rgba(4, 96, 117, 1);

    font-weight: 700;
    font-size: 0.833vw;
    line-height: 125%;
    letter-spacing: -1%;
    border-radius: 1.042vw;
    padding-right: 1vw;
}

.image-avatar-game {
    background-color: black;
    width: 1.875vw;
    height: 1.875vw;

    margin-right: 0.75vw;
    border-radius: 50%;
}

.date-game {
    color: rgba(204, 248, 255, 0.65);

    font-weight: 400;
    font-size: 0.729vw;
    line-height: 114.99999999999999%;
    letter-spacing: -1%;
}

.block-guide {
    display: flex;
    justify-content: space-between;
}

.image-guide {
    background-color: black;

    width: 10.417vw;
    border-radius: 1.042vw;
}

.title-description-guide {
    display: flex;
    flex-direction: column;

    width: 40.2vw;
}

.next-title-description-guide {
    display: flex;
    flex-direction: column;

    width: 31.2vw;
}

.description-guide {
    color: rgb(255, 255, 255, 0.9);

    font-weight: 400;
    font-size: 0.833vw;
    line-height: 150%;
    letter-spacing: -1%;
}

.block-main-comment {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 47, 61, 1);

    width: 100%;
    border-radius: 0.625vw;
    margin-bottom: 0.75vw;
}

.block-comment {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 47, 61, 1);

    border-radius: 0.625vw;
    width: 45.2vw;
}

.image-comment {
    background-color: black;

    width: 100%;
    height: 13.333vw;
    border-radius: 0.625vw 0.625vw 0px 0px;
}

.bi-three-dots {
    font-size: 1.25vw;
}

.title-comment {
    display: flex;
    justify-content: space-between;

    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    padding: 1vw;
}

.rating-block-profile {
    padding: 0px 1vw;
}

.description-comment {
    color: rgb(255, 255, 255, 0.9);

    font-weight: 400;
    font-size: 0.833vw;
    line-height: 150%;
    letter-spacing: -1%;
    padding: 1vw 1vw 0px 1vw;
}

.comments-date-reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 1vw 1vw 1vw;
}

.date-comments {
    color: rgba(204, 248, 255, 0.65);

    font-weight: 400;
    font-size: 0.729vw;
    line-height: 114.99999999999999%;
    letter-spacing: -1%;
    padding-top: 1vw;
}