@media (max-width: 390px) {

   .header-block-game {
        width: 98%;
       margin-top: 34vw;
       margin-left: 1vw;
       gap: 3vw;
    }
    .text-block-game{
       font-size: 4.7vw;
       line-height: 7vw;
       font-weight: 400;
        width: 100%;
        display: flex;
       flex-direction: column;
       align-items: center;
       gap: 4vw;
    }

    .left-block-right-menu {
       flex-direction: column;
       align-items: center;
       height: 95%;
       width: 95%;
       gap: 4vw;
    }
  



    .left-block-game-page {
       width: 100%;
       height: auto;
       height: 95%;

    }
      .name-game-page {
       font-size: 5vw;
       line-height: 8vw;
         font-weight: 500;
        padding-left: 2vw;
       }
    .block-platform {
        display: flex;
        align-items: center;
        margin-top: 3.5vw;
        margin-left: 2vw;
        height: 12vw;
        border-radius: 4vw;
        width: 95%;
        background-color: #052834;
        border-color: rgb(181, 216, 223);
        padding-left: 4vw;
        padding-right: 4vw;
    } 
    .text-platform {
       font-size: 5vw;
       line-height: 8vw;
       font-weight: 300;
    } 
    .bi-windows {
       display: none;
    }
    .bi.bi-chevron-down {
       height: 5vw;
       width: 5vw;
       font-size: 4vw;
    }


    .block-menu-game-page {
       display: none;
    }

    

    .blocks-characteristics {
       flex-direction: column;
       align-items: center;
       gap: 4vw;
       padding: 0 4vw;
       width: 100%;
       height: 100%;
    }
    .block-requirements {
       width: 100%;
       font-size: 5vw;
       font-weight: 500;
        line-height: 5vw;
        margin-top: 5.5vw;
    }
    .blocks-requirements {
        margin-top: 5vw;
    }
    .text-requirements {
       font-size: 3.5vw;
       font-weight: 400;
        line-height: 5vw;
        letter-spacing: .2vw;
        color: rgb(113, 145, 147);
        padding-bottom: 1vw;
    }
    .text-requirement{
         font-size: 3.5vw;
          line-height: 5vw;
    }


}
