.content-page-game {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.left-block-right-menu {
    display: flex;
    position: relative;
    justify-content: space-between;

    width: 76.25vw;
}

.left-block-game-page {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 56.875vw;
}

.header-block-game {
    display: flex;
    position: relative;

    gap: 1.5vw;
    margin-top: 10.5vw;
    width: 76.25vw;
}

.text-block-game {
    cursor: pointer;
    color: rgba(204, 248, 255, 0.65);

    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
}

.text-block-game.active {
    color: rgba(36, 229, 194, 1);

    padding-bottom: 0.4vw;
    border-bottom: 0.204vw solid #49ffde;
}

.text-block-game.active:hover {
    color: rgba(36, 229, 194, 1);
}

.text-block-game:hover {
    color: white;
}

.name-game-page {
    color: white;

    margin-top: 2.5vw;
    margin-bottom: 1vw;
    width: 76.25vw;
    font-weight: 700;
    font-size: 1.667vw;
    line-height: 125%;
    letter-spacing: 0%;
}

.main-image-page-game {
    background-color: black;

    margin-bottom: 0.5vw;
    border-radius: 1.042vw;
    width: 56.875vw;
    height: 22.552vw;
}

.showcase-game-page {
    display: flex;
    position: relative;
    justify-content: space-between;

    width: 56.875vw;
}

.showcase-image-game-page {
    background-color: black;

    border-radius: 0.417vw;
    width: 9.375vw;
    height: 4.583vw;
}

.category-game-page {
    display: flex;
    position: relative;

    margin-top: 1vw;
    gap: 1vw;
}

.text-category-game-page {
    background-color: rgba(55, 195, 255, 0.25);
    color: rgba(204, 248, 255, 0.65);
    height: max-content;

    padding: 0.25vw 0.75vw;
    border-radius: 1.042vw;
    font-weight: 700;
    font-size: 0.729vw;
    line-height: 114.99999999999999%;
    letter-spacing: -1%;
}

.text-category-game-page:hover {
    color: white;
}

.category-game-page .bi-chevron-down {
    color: white;
}

.pre-description {
    color: rgba(241, 253, 255, 0.8);

    margin-top: 1vw;
    width: 56.875vw;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 140%;
    letter-spacing: -1%;
}

.chevron-down {
    display: flex;
    position: relative;
    justify-content: center;
    color: white;

    margin-top: 0.5vw;
    margin-bottom: 1vw;
    font-size: 1.25vw;
    width: 56.875vw;
}

/* Комплекти */

.set-game-page {
    background-color: rgba(0, 47, 61, 1);

    padding: 1.042vw;
    margin-bottom: 0.4vw;
    border-radius: 1.042vw;
    width: 56.875vw;
}

.name-set-game-page {
    color: white;

    margin-bottom: 1.042vw;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
}

.block-set-game-page {
    background-color: rgba(0, 66, 82, 1);
    color: rgba(241, 253, 255, 0.8);

    padding: 0.75vw 1vw;
    border-radius: 1.042vw;
    width: 100%;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 140%;
    letter-spacing: -1%;
}

.contents-set-game-page {
    padding-left: 0.75vw;
}

.contents-text {
    color: rgba(204, 248, 255, 0.65);
}

.price-button-game-page {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;

    gap: 1vw;
    margin-top: 1vw;
    width: 100%;
}

.price-game-page {
    color: white;

    font-weight: 700;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.button-basket {
    outline: none;
    border: none;
    background-color: rgba(36, 229, 194, 1);
    color: black;

    padding: 0.65vw 1.5vw;
    border-radius: 1.042vw;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.button-basket:hover,
.button-comment:hover {
    filter: brightness(1.1);
}

/* dlc */

.dlc-set-game-page {
    display: flex;
    position: relative;
    flex-direction: column;

    gap: 0.5vw;
    width: 56.875vw;
}

.block-dlc-game-page {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: rgba(0, 47, 61, 1);
    color: white;

    padding: 1.042vw;
    border-radius: 1.042vw;
    width: 100%;
    font-weight: 700;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.text-dls {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;

    gap: 0.5vw;
    font-weight: 600;
    font-size: 0.833vw;
    line-height: 125%;
    letter-spacing: 0%;
}

.text-dls:hover {
    filter: brightness(0.9);
}

/* Комментарии */

.button-name-game-page {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;

    margin-top: 2.5vw;
    margin-bottom: 1vw;
    width: 56.875vw;
}

.name-game-pages {
    color: white;

    font-weight: 700;
    font-size: 1.667vw;
    line-height: 125%;
    letter-spacing: 0%;
}

.button-comment {
    outline: none;
    border: none;
    background-color: rgba(36, 229, 194, 1);
    color: black;

    padding: 0.5vw 1.25vw;
    border-radius: 1.042vw;
    font-weight: 600;
    font-size: 0.833vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.block-sort-game-page {
    display: flex;
    position: relative;
}

/* менюшка справа */

.block-menu-game-page {
    display: flex;
    top: -10%;
    position: sticky;
    align-self: flex-start;
    flex-direction: column;
}

.right-image-game-menu {
    background-color: black;

    border-radius: 1.042vw;
    height: 7.552vw;
    width: 18.125vw;
}

.rating-game-menu {
    display: flex;
    justify-content: flex-end;
    color: white;

    margin-top: 3vw;
    margin-bottom: 1.25vw;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
}

.price-game-menu {
    color: white;

    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 700;
    font-size: 1.667vw;
    line-height: 125%;
    letter-spacing: 0%;
}

.button-buy-game-menu {
    outline: none;
    border: none;
    color: black;
    background-color: rgba(36, 229, 194, 1);

    padding: 0.65vw;
    border-radius: 1.042vw;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 0.5vw;
}

.button-buy-game-menu:hover {
    filter: brightness(1.1);
}

.buttons-game-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.button-add-cart-game-menu {
    outline: none;
    border: none;
    color: white;
    background-color: rgba(4, 96, 117, 1);

    width: 15vw;
    padding: 0.65vw;
    border-radius: 1.042vw;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 0.5vw;
}

.button-add-cart-game-menu:hover,
.button-favorites-game-menu:hover {
    filter: brightness(0.8);
}

.button-favorites-game-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(4, 96, 117, 1);

    padding: 0;
    width: 2.5vw;
    border-radius: 1.042vw;
    font-size: 1.1vw;
    margin-bottom: 0.5vw;
}

.block-repost-report {
    display: flex;
    position: relative;
    justify-content: space-between;

    padding: 0.5vw 0.8vw;
}

.repost-game-menu {
    display: flex;
    cursor: pointer;
    color: rgba(36, 229, 194, 1);

    gap: 0.5vw;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.report-game-menu {
    display: flex;
    cursor: pointer;
    color: rgba(255, 165, 153, 1);

    gap: 0.5vw;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.repost-game-menu:hover,
.report-game-menu:hover {
    filter: brightness(1.1);
}

.block-info-game-menu {
    display: flex;
    position: relative;
    flex-direction: column;

    gap: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.info-game-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: white;

    font-weight: 700;
    font-size: 0.833vw;
    line-height: 125%;
    letter-spacing: 0%;
}

.text-info-game-menu {
    color: rgba(241, 253, 255, 0.8);

    font-weight: 400;
    font-size: 0.833vw;
    line-height: 150%;
    letter-spacing: -1%;
}

.block-want-this-game {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 47, 61, 1);

    width: 18.125vw;
    padding: 1.25vw;
    margin-bottom: 1vw;
    font-weight: 700;
    border-radius: 1.042vw;
    font-size: 1.042vw;
    line-height: 120%;
    letter-spacing: 0%;
}

.text-number-friends {
    display: flex;
    position: relative;

    margin-bottom: 1vw;
}

.number-friends {
    font-weight: 300;
    margin-left: 0.5vw;
}

.block-with-friends {
    display: flex;
    position: relative;
    flex-wrap: wrap;

    gap: 0.5vw
}

.block-friend {
    display: flex;
    position: relative;
    align-items: center;
    width: max-content;
    background-color: rgba(0, 66, 82, 1);

    padding-right: 1vw;
    border-radius: 1.042vw;
    font-size: 0.833vw;
}

.image-friend {
    background-color: black;
    width: 1.875vw;
    height: 1.875vw;

    margin-right: 0.75vw;
    border-radius: 50%;
}